 <footer class="footer">
 <div class="contacto_footer">
    <h2>Contactanos</h2>
    <p>conectasisasgmail.com</p>
    <p>3217235094</p>
  </div>
  <a href="index.html">
    <img src="assets/Images/LOGO_FONDO_TRANSPARENTE.png.jpg" alt="Logo CSI" width="100px">
  </a>
  <div class="redes_footer">
  <a href="https://www.facebook.com/">
    <img src="assets/Images/facbook v2.png" alt="facebook" width="40px">
  </a>
  <a href="https://twitter.com/">
    <img src="assets/Images/twitter.png" alt="twitter" width="40px">
  </a>
  <a href="https://www.instagram.com/">
    <img src="assets/Images/istagram.png" alt="instagram" width="30px">
  </a>
</div>
</footer>
