<header class="header">
<div class="logo">
    <a href="index.html">
      <img src="assets/Images/LOGO_FONDO_TRANSPARENTE.png.jpg" alt="Logo CSI" width="100px">
    </a>
  </div>
  <div>
    <nav>
      <ul class="navbar">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="Nosotros.html">Nosotros</a></li>
        <li class="dropdown">
          <a href="index.html">Servicios ∇ </a>
          <div class="dropdown-content">
            <a href="#seccion1">Audio</a>
            <a href="#seccion2">Video</a>
            <a href="#seccion3">Iluminación</a>
            <a href="#seccion4">Control</a>
          </div>
        </li>
        <li><a href="Contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="redes">
    <a href="https://www.facebook.com/">
      <img id="face" src="assets/Images/facbook v2.png" alt="facebook" width="50px">
    </a>
    <a href="https://twitter.com/">
      <img src="assets/Images/twitter.png" alt="twitter" width="50px">
    </a>
  </div>
</header>
